#wookie-top-blue {
	max-width: 200px;
}

@-webkit-keyframes left-dance {
  0%   { transform: rotate(-20deg); }
  20%   { transform: translateX(-100px); }
  40%   { transform: translateX(-100px); }
  50%   { transform: rotate(20deg); }
  70%   { transform: translateX(100px); }
  80%   { transform: rotate(20deg); }
  100% { transform: translateX(100px); }
}

.left-dance {
	-webkit-animation: left-dance 5s infinite;
	animation: left-dance 5s infinite;
}